azure-common==1.1.28
azure-core==1.26.3
azureml==0.2.7
azureml-core==1.48.0
fastapi==0.95.0
jupyter
pandas
azureml-mlflow
azure-ai-ml
python-dotenv
scp
torchserve
reacher
torch-model-archiver
torchmetrics
pytorch-lightning
pytorch-lightning[extra]
lightning
peft
datasets
tensorboard
deepspeed